body{
  font-family:Helvetica,Arial,sans-serif;
}

#promo{
  text-align:center;
  padding:40px;
  margin-top:60px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo .jumbotron{
  border-radius:25px;
  padding:48px;
  background-color:rgba(255,255,255,0.24);
  max-width:800px;
  margin:0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron{
    padding:20px;
  }
}

.dark-section{
  background-color:#262626;
}

.site-section{
  text-align:center;
  padding:70px;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#why item{
  padding-top:36px;
}

#why .item h2{
  font-weight:normal;
  margin-top:13px;
  margin-bottom:28px;
  font-size:24px;
}

i#logo.fa.fa-heartbeat{
  font-size:25px;
  display:inline-block;
  margin-top:-4px;
  margin-right:4px;
}

#why .item i{
  font-size:85px;
}

button.btn.btn-success.dropdown-toggle{
  margin-top:10px;
  margin-right:100px;
}

h3#df{
  margin-right:-200px;
}

div#bs{
  text-align:center;
  margin-top:-30px;
  margin-bottom:-50px;
}

div#gb.col-md-3{
  text-align:center;
  font-size:initial;
}

p#d{
  font-size:initial;
}

img#ps{
  height:150px;
  width:100%;
}

div#gd.thumbnail{
  text-align:center;
}

button.btn.btn-success{
  font-size:20px;
}

